#custom-map {
   height: 400px;
   z-index: 1;
}

.custom-map-slidecontainer {
   margin-top: -38.5px;
   text-align: center;
   z-index: 2;
   position: relative;
}
.custom-map-slider {
   -webkit-appearance: none;
   width: 45%;
   height: 6px;
   background: white;
   outline: none;
   border-radius: 100px;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
}

.custom-map-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   background: white;
   border: 1px solid white;

   cursor: pointer;
}

.custom-map-slider::-moz-range-thumb {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   cursor: pointer;
}

.slider-container {
   background-color: rgba(80, 79, 78, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.year {
   font-size: 16px;
   color: white;
   font-weight: 700;
}

.year-l {
   margin-right: 10px;
}

.year-r {
   margin-left: 10px;
}
